@font-face {
	font-family: 'PT Serif';
	src: url('/asset/fnt/PT_Serif-Web-Regular.ttf') format(truetype);
}

body {
	font-family: 'PT Serif';
    margin: 0 0 1px 0; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
    overflow: hidden
}
